<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <div>
            See tasks for <input type="date" v-model="takeDate"> day.
            {{localDate}}
            <ul>
                <li v-for="(item, index) in tasks" v-if="item.date === localDate">
                    <p v-if="!item.isCompleted">
                        <input type="checkbox" v-model="item.isCompleted">
                        <span v-if="!item.isEdited" v-on:dblclick="()=>item.isEdited = true">
                            {{item.text}}; {{item.date}}
                        </span>
                        <span v-else v-on:keydown.enter="()=>item.isEdited = false">
                            <input v-model="item.text">
                        </span>
                    </p>
                    <p v-else>
                        <del>{{item.text}};</del> {{item.date}}
                        <button v-on:click="removeTask(index)">x</button>
                    </p>
                </li>
            </ul>
            <input v-model="newTaskText" v-on:keydown.enter="addNewTask" placeholder="CreateNewTask">
            <span>
                <input type="checkbox" v-model="useCurrentDate" placeholder="CurrentDate">use current date
            </span>
        </div>

        <hr>

        <div>
            <p v-for="(item) in questions1">
                Question:{{item.question}}<br>
                Answer:<template>
                    <input v-on:keydown.enter="checkAnswer(item, $event)">
                </template>

            </p>
        </div>

        <hr>

        <div>
            <p v-for="(item, qIndex) in questions2">
                Question: {{item.question}} <br>
                <template v-for="(ans, aIndex) in item.answers">
                    <input type="radio"  v-on:click="checkAnswer2(item, $event)"
                        v-bind:value="aIndex+1" v-bind:name="qIndex">{{ans}}
                </template>
            </p>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>